<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= url('/') %>">Project Keeper</a>
    </div><!--/.navbar-header -->

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>

          <% if projects_show_page? %>
             <!-- Button trigger modal -->
             <li><a id="delete-link" data-toggle="modal" data-target="#modalProjectDelete">Delete Project</a></li>
          <% elsif users_show_page? %>
            <!-- Button trigger modal -->
            <li><a id="delete-link" data-toggle="modal" data-target="#modalUserDelete">Delete Account</a></li>
          <% end %>

          <li><a href='<%= url("/#{@user.username}/projects/new") %>'>Create Project</a></li>
          <li><a href='<%= url("/#{@user.username}/projects") %>'>View all Projects</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li role="separator" class="divider"></li>
              <li><a href='<%= url("/#{@user.username}") %>'>Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="<%= url('/logout') %>">Logout</a></li>
            </ul>
          </li>

        <% else %>
          <li><a href="<%= url('/signup') %>">Signup</a></li>
          <li><a href="<%= url('/login') %>">Login</a></li>
        <% end %>

      </ul>
    </div><!--/.nav-collapse -->

  </div><!--/.container -->
</nav>
