<div class="container">
  <h1>Project - <%= @project.name %></h1>

  <form action="/<%= @user.username %>/projects/<%= @project.slug %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div class="form-group">
      <label for="project_name">Name:</label>
      <input type="text" id="project_name" class="form-control" name="project[name]" placeholder=" Project Name" value="<%= @project.name %>" autofocus>
    </div>

    <div class="form-group">
      <label for="project_deadline">Deadline:</label>
      <input type="text" id="project_deadline" class="form-control" name="project[deadline]" placeholder=" Day-Month-Year" value="<%= @project.deadline %>">
    </div>

    <div class="form-group">
      <label for="project_date_started">Started Date:</label>
      <input type="text" id="project_date_started" class="form-control" name="project[date_started]" placeholder=" Day-Month-Year" value="<%= @project.date_started %>">
   </div>

    <div class="form-group">
      <label for="project_status">Status:</label>
      <select id="project_status" class="form-control" name="project[status]">
        <option value="In Progress">In Progress</option>
        <option value="On Hold">On Hold</option>
        <option value="Completed">Completed</option>
      </select>
   </div>

    <div class="form-group">
      <label for="project_date_completed">Date Completed:</label>
      <input type="text" id="project_date_completed" class="form-control" name="project[date_completed]" value="<%= @project.date_completed %>">
   </div>

    <div class="form-group">
      <label for="project_description">Description:</label>
      <textarea name="project[description]" id="project_description" class="form-control" rows="2"><%= @project.description %></textarea>
   </div>

    <div class="form-group">
      <label for="project_notes">Notes:</label>
      <textarea name="project[notes]" id="project_notes" class="form-control" rows="2"><%= @project.notes %></textarea>
   </div>

    <input type="submit" class="btn btn-lg btn-primary" value="Update Project">
  </form>

</div>
