<main class="container">
  <div class="row centered">
    <div class="col-sm-6">

      <h1 class="page-title form-title">Edit Project</h1>
      <%= erb :'partials/_project_error_messages' %>

      <form action="/<%= @user.username %>/projects/<%= @slug %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">

        <div class="form-group<%= ' has-error' if @user.errors[:name].any? %>">
          <label for="project_name">Name:</label>
          <input type="text" id="project_name" class="form-control" name="project[name]" placeholder=" Project Name" value="<%= @project.name %>" autofocus>
        </div><!-- /.form-group -->

        <div class="row">
          <div class="form-group<%= ' has-error' if @user.errors[:deadline].any? %> col-sm-6">
            <label for="project_deadline">Deadline:</label>
            <input type="date" id="project_deadline" class="form-control" name="project[deadline]" placeholder=" Day-Month-Year" value="<%= @project.deadline %>">
          </div><!-- /.form-group -->
        </div><!-- /.row -->

        <div class="row">
          <div class="form-group<%= ' has-error' if @user.errors[:date_started].any? %> col-sm-6">
            <label for="project_date_started">Started Date:</label>
            <input type="date" id="project_date_started" class="form-control" name="project[date_started]" placeholder=" Day-Month-Year" value="<%= @project.date_started %>">
          </div><!-- /.form-group -->
        </div><!-- /.row -->

        <div class="form-group<%= ' has-error' if @user.errors[:status].any? %>">
          <label for="project_status">Status:</label>
          <select id="project_status" class="form-control" name="project[status]">
            <option value="In Progress">In Progress</option>
            <option value="On Hold">On Hold</option>
            <option value="Completed">Completed</option>
          </select>
        </div><!-- /.row -->

        <div class="row">
          <div class="form-group<%= ' has-error' if @user.errors[:date_completed].any? %> col-sm-6">
            <label for="project_date_completed">Date Completed:</label>
            <input type="date" id="project_date_completed" class="form-control" name="project[date_completed]" value="<%= @project.date_completed %>">
          </div><!-- /.form-group -->
        </div><!-- /.row -->

        <div class="form-group<%= ' has-error' if @user.errors[:description].any? %>">
          <label for="project_description">Description:</label>
          <textarea name="project[description]" id="project_description" class="form-control" rows="3"><%= @project.description %></textarea>
        </div><!-- /.row -->

        <div class="form-group<%= ' has-error' if @user.errors[:notes].any? %>">
          <label for="project_notes">Notes:</label>
          <textarea name="project[notes]" id="project_notes" class="form-control" rows="3"><%= @project.notes %></textarea>
        </div><!-- /.row -->
        
        <div class="row centered">
          <input type="submit" class="btn" value="Update Project">
        </div><!-- /.row -->

      </form>

    </div><!-- /.col-sm-6 -->
  </div><!-- /.row -->
</main>
