<h1>Project - <%= @project.name %></h1>

<form action="/<%= @user.username %>/projects" method="post">

  <label for="project_name">Name:</label><br>
  <input type="text" id="project_name" name="project[name]" placeholder=" Project Name" value="<%= @project.name %>"><br><br>

  <label for="project_deadline">Deadline:</label><br>
  <input type="text" id="project_deadline" name="project[deadline]" placeholder=" Day-Month-Year" value="<%= @project.deadline %>"><br><br>

  <label for="project_date_started">Started Date:</label><br>
  <input type="text" id="project_date_started" name="project[date_started]" placeholder=" Day-Month-Year" value="<%= @project.date_started %>"><br><br>

  <label for="project_status">Status:</label><br>
  <select name="pick_an_order" id="project_status" name="project[status]">
    <option value="First">In Progress</option>
    <option value="Second">On Hold</option>
    <option value="Third">Completed</option>
  </select><br><br>

  <label for="project_date_completed">Date Completed:</label><br>
  <input type="text" id="project_date_completed" name="project[date_completed]" value="<%= @project.date_completed %>"><br><br>

  <label for="project_description">Description:</label><br>
  <textarea name="project[description]" id="project_description" rows="2"><%= @project.description %></textarea><br><br>

  <label for="project_notes">Notes:</label><br>
  <textarea name="project[notes]" id="project_notes" rows="2"><%= @project.notes %></textarea><br><br>

  <input type="submit" value="Update Project">

</form>
