<h1>Project</h1>

<% @projects.each do |project| %>
    <p>Project Name: <%= project.name %></p>
    <p>Deadline: <%= project.deadline %></p>
    <p>Date Started: <%= project.date_started %></p>
    <p>Project Status: <%= project.status %></p>
    <p>Date Completed: <%= project.date_completed %></p>
    <p>Description: <%= project.description %></p>
    <p>Notes: <%= project.notes %></p><br><br>
<% end %>
