<div class="container">
  <h1>Create a new project</h1>
  <%= erb :'partials/_project_error_messages' %>
  
  <form action="/<%= @user.username %>/projects" method="post">

    <div class="form-group<%= ' has-error' if @project.errors[:name].any? %>">
      <label for="project_name">Name:</label>
      <input type="text" id="project_name" class="form-control" name="project[name]" placeholder=" Project Name" value="<%= @project.name %>">
    </div>

    <div class="form-group<%= ' has-error' if @project.errors[:deadline].any? %>">
      <label for="project_deadline">Deadline:</label>
      <input type="text" id="project_deadline" class="form-control" name="project[deadline]" placeholder=" Day-Month-Year" value="<%= @project.deadline %>">
    </div>

    <div class="form-group<%= ' has-error' if @project.errors[:date_started].any? %>">
      <label for="project_date_started">Started Date:</label>
      <input type="text" id="project_date_started" class="form-control" name="project[date_started]" placeholder=" Day-Month-Year" value="<%= @project.date_started %>">
    </div>

    <div class="form-group<%= ' has-error' if @project.errors[:status].any? %>">
      <label for="project_status">Status:</label>
      <select name="pick_an_order" id="project_status" class="form-control" name="project[status]">
        <option value="First">In Progress</option>
        <option value="Second">On Hold</option>
        <option value="Third" disabled>Completed</option>
      </select>
    </div>

    <div class="form-group<%= ' has-error' if @project.errors[:description].any? %>">
      <label for="project_description">Description:</label>
      <textarea name="project[description]" id="project_description" class="form-control" rows="2"><%= @project.description %></textarea>
    </div>

    <div class="form-group<%= ' has-error' if @project.errors[:notes].any? %>">
      <label for="project_notes">Notes:</label>
      <textarea name="project[notes]" id="project_notes" class="form-control" rows="2"><%= @project.notes %></textarea>
    </div>

    <input type="submit" class="btn btn-lg btn-primary" value="Create Project">
  </form>

</div>
