<div class="container show project">
  <h1 class="page-title"><%= @project.name %></h1>

  <div class="row">

    <section class="col-sm-7 col-sm-offset-2">
      <p>Project Name: <span><%= @project.name %></span></p>
      <p>Deadline: <span><%= convert_date(@project.deadline) %></span></p>
      <p>Date Started: <span><%= convert_date(@project.date_started) %></span></p>
      <p>Project Status: <span><%= @project.status %></span></p>
      <% if @project.status == "Completed" %>
        <h2>Date Completed: <span><%= convert_date(@project.date_completed) %></span></h2>
      <% end %>
      <p>Description: <span><%= @project.description %></span></p>
      <p>Notes: <span><%= @project.notes %></span></p>
    </section>

    <div class="hidden-xs col-sm-3">
      <div class="row">
        <a class="btn" href='<%= url("/#{@user.username}/projects/#{@project.slug}/edit") %>'>Edit Project</a>
      </div><!-- /.row -->
      <div class="row">
        <a class="btn" href='<%= url("/#{@user.username}/projects") %>'>View Projects</a>
      </div><!-- /.row -->
    </div><!-- /.hidden-xs -->

    <div class="btn-group btn-group-justified visible-xs-block" role="group" aria-label="...">
      <a class="btn action-btn" href='<%= url("/#{@user.username}/projects/#{@project.slug}/edit") %>'>Edit Project</a>
      <a class="btn action-btn" href='<%= url("/#{@user.username}/projects") %>'>View Projects</a>
    </div><!-- /.btn-group -->

  </div><!-- /.row -->

</div><!-- /.container -->
<%= erb :'partials/_modal_project_delete' %>
