<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Keeper</title>

    <!-- Font-Awesome Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">

    <!-- Bootstrap Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Styles-->
    <link rel="stylesheet" href="../../../assets/css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <%= erb :'partials/_navigation' %>

    <%= erb :'partials/_flash_messages' unless session[:__FLASH__].empty?%>

    <%= yield %>

    <% if Sinatra::Base.development? %>
     <div class="container params_debug">
       <p><strong>Params:</strong> <%= params.inspect %></p>
       <p><strong>Flash:</strong> <%= flash unless flash.nil? %></p>
       <p><strong>Session User ID:</strong> <%= session[:user_id] %></p>
       <hr>
       <% unless current_user.nil? %>
         <p><strong>- Current User -</strong><p>
         <p><strong>Username:</strong> <%= current_user.username %></p>
         <p><strong>First Name:</strong> <%= current_user.first_name %></p>
         <p><strong>Last Name:</strong> <%= current_user.last_name %></p>
         <p><strong>Email:</strong> <%= current_user.email %></p>
       <% end %>
    </div>
    <% end %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
