<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="RPRubF6vNgx1mAYd_eUbQxQGbnTMy_PQRT-jEvSJ070">
    <title>Dom McKellar | Project Keeper</title>

    <!-- Font-Awesome Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">

    <!-- Bootstrap Styles-->
    <link rel="stylesheet" href='<%= url("/assets/css/bootstrap.min.css") %>'>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Suez+One' rel='stylesheet' type='text/css'>

    <!-- Custom Styles-->
    <link rel="stylesheet" href='<%= url("/assets/css/main.css") %>'>

    <%= erb :'partials/_html5_shim' %>

  </head>
  <body>

    <%= erb :'partials/_navigation' %>

    <%= erb :'partials/_flash_messages' unless session[:__FLASH__].empty?%>

    <%= yield %>

    <%= erb :'partials/_footer' %>

    <!-- Bootstrap & jQuery js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src='<%= url("/assets/js/bootstrap.min.js") %>'></script>
    <!-- Custom js -->
    <script src='<%= url("/assets/js/main.js") %>'></script>

  </body>
</html>
